<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="qrid"
            connectionString="server=175.123.253.199;port=3306;uid=qrid;pwd=zbflem2021@@;database=qrid"
            providerName="System.Data.MySql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>