<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="qrid" connectionString="server=175.123.253.199;port=3306;uid=qrid;pwd=zbflem2021@@;database=qrid"
            providerName="System.Data.MySql" />
        <add name="ReservProgram.Properties.Settings.SchedulerDataConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\SchedulerData.mdb;Jet OLEDB:Database Password=1234"
            providerName="System.Data.OleDb" />
        <add name="ReservProgram.Properties.Settings.qridConnectionString"
            connectionString="server=175.123.253.199;user id=qrid;persistsecurityinfo=True;database=qrid"
            providerName="MySql.Data.MySqlClient" />
        <add name="ReservProgram.Properties.Settings.SchedulerTest" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\SchedulerTest.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="ReservProgram.Properties.Settings.test" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\test.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>